# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
out
dist
build
.turbo
*.tsbuildinfo

# Strapi caches / generated
apps/cms/.cache
apps/cms/.tmp
apps/cms/.strapi
apps/cms/build
apps/cms/dist
apps/cms/types/generated
apps/cms/public/uploads

# Lockfiles & vendored data
pnpm-lock.yaml

# Misc
*.log
